body {
    margin: 12px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Rethink Sans', sans-serif;
    text-align: left;
    user-select: none;
    overflow: hidden;
    font-weight: 400;
}

canvas {

}

.info-flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0f17;
    border: 2px #131c2a solid;
    border-radius: 1vh;

    max-width: 80vh;
    margin: 12px auto auto;
}

.info-flex-elem {
    margin: -2px 1vh 0 1vh;
    padding: 0.5vh 1vh;
    width: calc(100% - 2vh + 4px);
}

#title {
    font-size: 2.5vh;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;

    border-radius: 1vh;
    margin-bottom: 0.5vh;
}

#rules {
    font-size: 2.5vh;
}

#penalty {
    font-size: 2.5vh;
    font-style: italic;
    color: lightcoral;
    margin-bottom: 0.25vh;
}
